body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 0.7fr 4fr;
    grid-template-rows: 1fr 3fr;
    height: 100vh;
}

nav {
    background-color: #07eba3;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 70px 250px 200px;
    justify-items: center;
    min-width: 11em;
    margin: 0;
    padding: 0;
}

nav > .ul-1 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    list-style-type: none;
    /*display: flex;
    flex-direction:column;*/
    /*font-size: 1em;*/
    /*align-content: left;
    justify-items: flex-start;*/
    height: 100px;
    /*min-width: 200px;
    /*width: clamp(100px, 150px, 200px);*/
    display: grid;
    grid-template-columns: 25px 150px;
    grid-template-rows: repeat(5,40px);
    column-gap: 20px;
    row-gap: 0;
}

nav > .ul-2{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    list-style-type: none;
    /*display: flex;
    flex-direction:column;*/
    /*font-size: 1em;*/
    /*align-content: left;
    justify-items: flex-start;*/
    height: 10%;
    /*min-width: 200px;
    /*width: clamp(100px, 150px, 200px);*/
    display: grid;
    grid-template-columns: 25px 150px;
    grid-template-rows: repeat(4,40px);
    column-gap: 20px;
    row-gap: 0;
}

.nav-header {
    grid-row: 1 / 2;
    width: 30px;
    display: grid;
    /*flex-direction: column;
    align-items: center;
    justify-items: center;*/
    grid-template-columns: 1fr 2fr;
    column-gap: 5px;
    margin: 0px;
    padding: 0px;
}

.icon.dashboard{
    width: 30px;
    height: 65px;
}

.icon {
    width: 30px;
    height: 20px;
}

header {
    grid-column: 2 / 3;
    border: 1px solid red;
}

main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 1px solid red;
}